<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Corbett OpenRISC Linux Kernel</Name>
    <Version>6.10.7</Version>
    <Title>Corbett OpenRISC Linux Kernel Installer</Title>
    <Publisher>Corbett</Publisher>
    <StartMenuDir>Corbett Kernel Builds</StartMenuDir>
    <TargetDir>@HomeDir@/corbett-openrisc</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <Logo>computer-avatar-1.png</Logo>
</Installer>
